spring:
  datasource:
    url: jdbc:h2:mem:todo;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    driver-class-name: org.h2.Driver
    username: sa
    password:
  h2:
    console:
      enabled: true
      path: /h2-console
      settings:
        web-allow-others: true
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true

springdoc:
  swagger-ui:
    path: /swagger-ui.html
    operations-sorter: alpha
    tags-sorter: alpha
  api-docs:
    path: /v3/api-docs
  remove-broken-reference-definitions: false
# Alternative for SQLite (comment out PostgreSQL if using)
# spring:
#   datasource:
#     url: jdbc:sqlite:todo.db
#     driver-class-name: org.sqlite.JDBC
#   jpa:
#     hibernate:
#       ddl-auto: none
#   flyway:
#     enabled: true
#     driver-class-name: org.sqlite.JDBC  # Flyway supports SQLite with adjustments