spring:
  application:
    name: todolist_backend
  datasource:
    url: jdbc:h2:mem:todo;DB_CLOSE_DELAY=-1
    driver-class-name: org.h2.Driver
    username: sa
    password:
  h2:
    console:
      enabled: true
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: false
  flyway:
    enabled: false

server:
  port: 8080

jwt:
  secret: ${JWT_SECRET:dev-secret-key-at-least-256-bits-long-123456}
  expiration-ms: ${JWT_EXPIRATION_MS:86400000}
